<!-- *** FOOTER ***
 _________________________________________________________ -->
        <div class="footer" data-animate="fadeInUp">
            <div class="container">
                <div class="w3_footer_grids">
                    <div class="col-md-4 col-sm-8 w3_footer_grid">
                        <h4>Páginas</h4>

                        <ul>
                            <%= render partial: 'spree/static_content/static_content_list', collection: Spree::Page.by_store(current_store).visible.header_links, as: :page %>
                        </ul>

                        <hr>

                        <!--<h4>Usuarios</h4>-->

                        <!--<ul>-->
                        <!--    <li>-->
                                <%#= render partial: 'spree/shared/link_to_account' %>
                            <!--</li>-->
                            
                            <%# if !spree_current_user %>
                                <!--<li>-->
                                    <%#= link_to Spree.t(:register_theme), spree.signup_path %>
                                <!--</li>-->
                            <%# end %>
                        <!--</ul>-->

                        <hr class="hidden-md hidden-lg hidden-sm">

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- <div class="col-md-3 col-sm-6"> -->

                        <!--<h4>Top categories</h4>-->
                            
                            <%# @taxonomies.each do |taxonomy| %>
                               <!--  <h4> -->
                                    <%#= taxonomy.name %>
                                <!-- </h4> -->

                                <%#= footer_tree(taxonomy.root, @taxon, 1) %>

                              
                              
                            <%# end %>


                        <!-- <hr class="hidden-md hidden-lg">

                    </div> -->
                    <!-- /.col-md-3 -->

                    <div class="col-md-4 col-sm-8 w3_footer_grid">

                        <h4>Dirección</h4>

                        <p><strong>Dinamic Solutions.</strong>
                            <br>Edificio Plaza Morazan
                            <br>Torre 1, Piso 12
                            <br>Tegucigalpa
                            <br>
                            <!--<br>-->
                            <strong>Honduras</strong>
                        </p>

                        <!--<a href="contact.html">Go to contact page</a>-->

                        <hr class="hidden-md hidden-lg">

                    </div>
                    <!-- /.col-md-3 -->



                    <div class="col-md-4 col-sm-8 w3_footer_grid">

                        
                        
                        <div id="locales">
                            
                            
                            
                            <% if SpreeI18n::Config.available_locales.many? %>
                            
                                <h4>Idioma</h4>
                                
                              <div id="locale-select" data-hook>
                                <%= form_tag spree.set_locale_path, class: 'navbar-form' do %>
                                  <div class="form-group">
                                    <label for="switch_to_locale" class="sr-only">
                                      <%= Spree.t(:'i18n.language') %>
                                    </label>
                                    <%= select_tag(:switch_to_locale,
                                      options_for_select(available_locales_options, I18n.locale),
                                      class: 'form-control') %>
                                    <noscript><%= submit_tag %></noscript>
                                  </div>
                                <% end %>
                              </div>
                            <% end %>
                        </div>


                        <hr>

                        <h4>Stay in touch</h4>

                        <div class="agileits_social_button">
						<ul>
							<li><a href="#" class="facebook"> </a></li>
							<li><a href="#" class="twitter"> </a></li>
							<li><a href="#" class="google"> </a></li>
							<li><a href="#" class="pinterest"> </a></li>
						</ul>
					</div>


                    </div>
                    <!-- /.col-md-3 -->
                    <div class="clearfix"> </div>
                </div>
                <!-- /.w3_footer_grids -->

            </div>
            <!-- /.container -->
            
        <!-- /#footer -->

        <!-- *** FOOTER END *** -->




        <!-- *** COPYRIGHT ***
 _________________________________________________________ -->
        <div class="footer-copy">
            
            <div class="footer-copy1">
				<div class="footer-copy-pos">
					<a href="#home1" class="scroll"><img src="<%= image_url('spree/frontend/template/arrow.png') %>" alt=" " class="img-responsive" /></a>
				</div>
			</div>
			
            <div class="container">
                <!--<div class="col-md-6">-->
                    <p class="">© 2017 <%= title %> | <a href="https://www.dinamicsolutions.net">Dinamic Solutions</a>
                         <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
                    </p>
                <!--</div>-->
            </div>
        </div>
        <!-- *** COPYRIGHT END *** -->
    </div>
        
<%#= javascript_include_tag 'spree/frontend/all' %>